.information

{
    background-color: #ffce63;
}

h3
{
    font-size: 30px;
}
.containerapp
{
    margin-bottom: 100px;
    background-color: #ffce63;
}
.relax
{
    font-size: 30px;
    color:rgb(166, 27, 152);
}
